 * {
   box-sizing: border-box;
 }

 body {
   margin: 0;
   padding: 0;
   font-family: Helvetica;
   background-color: black;
   color: seashell;
   font-size: 22px;
   opacity: 0.9;
 }

 .container {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 header {
   background-color: black;
   width: 100%;
   height: 69px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid seashell;
   position: fixed; 
 }

 .logo {
   margin: 10px;
   height: 50px;
   color: seashell;
   opacity: 0.9;
 }

 .nav {
   color: white;
   list-style: none;
   display: flex;
 }

 .nav-item a {
   display: inline-block;
   padding: 10px 15px;
   color: white;
   text-decoration: underline;
 }

 .mission-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
  background-image: url('images/img-mission-background.jpeg');
 }

 .mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 15%;
  width: 1200px;
 }

 .our-mission {
  display: flex;
  margin: 10px;
 }

 .mission-statement {
  display: flex;
  margin: 10px;
 }

 .product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1000px;
 }

 .products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
 }

 .product-img {
  display: flex;
  height: 200px;
  width: 300px;
  margin: 10px 10px 0;
 }

 .products p {
  text-align: center;
  margin: 10px;
}

.products div {
  display: flex;
  flex-direction: column;
}

.product-container h2 {
  margin: 50px 10px 10px 10px;
}

.product-container h4 {
  margin: 10px;
}

.location-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  width: 1200px;
  height: 500px;
  background-image: url(images/img-locations-background.jpeg);
}

.locations {
  display: flex;
  flex-direction: row;
}

.location-container h2 {
  margin: 0;
}

.location-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 20px;
  width: 300px;
  background-color: black;
  opacity: 1;
}

.location-box h3 {
  margin: 20px 10px 10px;
}

.location-box p {
  margin: 10px;
  line-height: 3;
  text-align: center;
}

.contact-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
}

.contact-container h2 {
  margin: 10px;
}

.contact-container h5 {
  margin: 15px;
  line-height: 3;
}

footer {
  display: flex;
  width: 100%;
}

footer h6 {
  margin: 20px;
  text-align: left;
}